@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    

}

div.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    border: 0px solid #73AD21;*/
    background: #3C787E;
    z-index: 0;
    
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: collapse;
    
} 

div.column{
    flex: 1;
    flex-wrap: wrap;
}
  
div.secondScreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    /*width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    border: 0px solid #73AD21;*/
    
    background: #241623;
    z-index: 1;
    /*visibility: collapse;*/
}

svg.imageLogo{
    width: 100%;
    fill:none;
    stroke: #D0CD94;
    stroke-width:6;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;    

    -webkit-animation:fill 3s linear forwards 3s;
}

svg.imageLogo path:nth-child(1){
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    -webkit-animation: dash 3s linear forwards;
    
}

svg.imageLogo path:nth-child(2){
    stroke-dasharray: 4000;
    stroke-offset: 0;
    -webkit-animation: dash 25s linear forwards;
}

@-webkit-keyframes dash{
    from {
       stroke-dashoffset: 4000;
    }
    to {
       stroke-dashoffset: 0;
    }
}

@-webkit-keyframes fill{
    from {
       fill: transparent;
    }
    to {
       fill: #808000;
    }
}

button.outlineButton{
    padding: .6vw .6vw;
    font: bold 2vw sans-serif ;
    color: #D56F3E;
    background: transparent;
    border: 3px solid #D56F3E;
    visibility: hidden;
    -webkit-animation:changeVisibility2 1s linear forwards 3s;
    transition-property: color, background;
    transition-duration: .5s, .5s;
}

button.outlineButton:hover{
    color: #D0CD94;
    background: #D56F3E;
}

h1.title{
    font: 7vw 'Roboto Mono', monospace;
    color: transparent;
    letter-spacing: -4 px;
    -webkit-animation:changeVisibility 1s linear forwards 3s;
}

@-webkit-keyframes changeVisibility{
    from {
       color: transparent;
    }
    to {
       color: #D0CD94;
    }
}

@-webkit-keyframes changeVisibility2{
    from {
       visibility: hidden;
    }
    to {
       visibility: visible;
    }
}

button.outlineButtonSmall{
    padding: .4vw .4vw;
    font: bold 1.5vw sans-serif ;
    color: #D56F3E;
    background: transparent;
    border: 3px solid #D56F3E;
    transition-property: color, background;
    transition-duration: .5s, .5s;
}

button.outlineButtonSmall:hover{
    color: #D0CD94;
    background: #D56F3E;
}

input.inputText{
    padding: .4vw .4vw;
    font: bold 1.5vw sans-serif ;
    color: #D56F3E;
    text-align: center;
    background: transparent;
    border: 3px solid #D56F3E;
}

textarea{
    background: transparent;
    border: none;
    font: 3vw 'Roboto Mono', monospace;
    color: #808000;
    /*width: 45%;
    height: 80vh; */
}