@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #3C787E;
    z-index: 0;
    
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

div.column{
    flex: 1;
    flex-wrap: wrap;
}
  
div.secondScreen {
    background: #241623;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    visibility: collapse;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div.transition{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: #241623;
    z-index: 1;
    width: 2vw;
    visibility: collapse;
}

.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
}

.transform-active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

    background-color: #241623;
    height: 100vh;
    width: 100vw;
}


/******************************************/
.divCentered{
    text-align: center;
    padding-top:2vh;
    padding-bottom: 2vh;
    width: 98%;

    /*border: 3px solid green;*/
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 98%;
    height: 98%;
    /*border: 3px solid palevioletred;*/
}

.divColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;

    margin: auto;
    width: 41.5%;
    height: 98%;
    /*border: 3px solid cyan;*/
}

.divColumnSmall {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: auto;
    width: 15%;
    height: 98%;
    /*border: 3px solid red;*/
}

/******************************************/

svg.imageLogo{
    width: 100%;
    fill:none;
    stroke: #D0CD94;
    stroke-width:6;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;    

    -webkit-animation:fill 3s linear forwards 3s;
}

svg.imageLogo path:nth-child(1){
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    -webkit-animation: dash 3s linear forwards;
    
}

svg.imageLogo path:nth-child(2){
    stroke-dasharray: 4000;
    stroke-offset: 0;
    -webkit-animation: dash 25s linear forwards;
}

@-webkit-keyframes dash{
    from {
       stroke-dashoffset: 4000;
    }
    to {
       stroke-dashoffset: 0;
    }
}

@-webkit-keyframes fill{
    from {
       fill: transparent;
    }
    to {
       fill: #808000;
    }
}

button.outlineButton{
    font: bold 2vw 'Roboto Mono', monospace;
    color: #D56F3E;
    background: transparent;
    border: 3px solid #D56F3E;
    visibility: hidden;
    -webkit-animation:changeVisibility2 1s linear forwards 3s;
    transition-property: color, background;
    transition-duration: .5s, .5s;
}

h1.title{
    font: 7vw 'Roboto Mono', monospace;
    color: transparent;
    letter-spacing: -4 px;
    -webkit-animation:changeVisibility 1s linear forwards 3s;
}

@-webkit-keyframes changeVisibility{
    from {
       color: transparent;
    }
    to {
       color: #D0CD94;
    }
}

@-webkit-keyframes changeVisibility2{
    from {
       visibility: hidden;
    }
    to {
       visibility: visible;
    }
}

button.outlineButtonSpinBootstrap{
    font: bold 1.5vw 'Roboto Mono', monospace;
    color: #D56F3E;
    background: transparent;
    border: 3px solid #D56F3E;
    transition-property: color, background;
    transition-duration: .5s, .5s;
}

button.outlineButtonSmall{
    font: bold 1.5vw 'Roboto Mono', monospace;
    color: #D56F3E;
    background: transparent;
    border: 3px solid #D56F3E;
    margin: 10vh 1vw 0vh;
    transition-property: color, background;
    transition-duration: .5s, .5s;
}

button.outlineButton:hover,button.outlineButtonSmall:hover,button.outlineButtonSpinBootstrap:hover{
    color: #D0CD94;
    background: #D56F3E;
}

input.inputText{
    font: bold 1.5vw 'Roboto Mono', monospace;
    color: #D56F3E;
    text-align: center;
    background: transparent;
    border: 3px solid #D56F3E;
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

textarea{
    background: transparent;
    border: none;
    font: 3vw 'Roboto Mono', monospace;
    color: #808000;
    width: 100%;
    height: 80%;
}

p.instructions{
    font: 3vh 'Roboto Mono', monospace;
    color: #3C787E;
    letter-spacing: -4 px;
}