html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

div.main {
    position: absolute;
    width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    border: 3px solid #73AD21;
    background: dodgerblue;
    z-index: 0;
} 
  
div.secondScreen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: calc(100vw - 6px);
    height: calc(100vh - 6px);
    border: 3px solid #73AD21;
    background: #333333;
    z-index: 1;
    /*visibility: collapse;*/
}

textarea{
    width: 400px;
    height: 550px; 
}